@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

:root{
    --NaranjaMain:#b15500;
    --NaranjaSecond:#914702;
    --Gris-bg:#1e1e1e;
    --GrisMain: #5b5b5b;
    --GrisSecond: #c4c4c4;
}

.form-control::placeholder { 

    color:  whitesmoke !important;
    opacity: 1; 
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    align-items: center;

}

.special-label{

    color:  whitesmoke !important;
    opacity: 1 !important; 
    font-family: Nunito Sans !important;
    font-style: normal !important;
    font-weight: normal !important;
    align-items: center !important;
    line-height: 200% !important;

}

.btn{

    background-color: var(--NaranjaMain) !important;
    color: white !important;
    border: 0 !important;
    
}

.btn-link{

    background-color: var(--Gris-bg) !important;
    color: white !important;
    text-decoration: none !important;
    
}

.btn:hover{

    background-color: var(--NaranjaSecond) !important;
    border-color: var(--NaranjaSecond) !important;
    
}

.textFormatDefault{
    color:  whitesmoke !important;
    opacity: 1 !important; 
    font-family: Nunito Sans !important;
}

.modalHeader{
    background-color: var(--NaranjaMain);
    color:whitesmoke;
}

.modalBody{
    background-color: var(--GrisMain);
}

.registerModal::after{
    content: "*Al hacer click en continuar declaras haber leido y aceptado los terminos y condiciones.";
    color: red;
}

.registerModal::before{
    content: "*Al hacer click en continuar declaras haber leido y aceptado los terminos y condiciones.";
    color: red;
}

.modalFooter{
    background-color: var(--GrisMain);
}