:root{
    --NaranjaMain: #b15500;
    --GrisMain: #5b5b5b;
}

footer{
    width: 100%;
    position: relative;
    bottom: 0;
}
.container-footer{
    width: 100%;
    background: var(--GrisMain);
}


.ImageLink{

    display: flex !important;
    justify-content: center;
    padding: 0 !important;

}

.ImageItem{

    width: 30%;

}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}
.information a{
    text-decoration: none;
    color: #fff;
}
.information a:hover{
    color: var(--NaranjaMain);
}