:root{
 --NaranjaMain: #b15500;
 --GrisMain: #5b5b5b;
}

#Header-UserI{
    height:60px;
    width: 100%;
    background-color: var(--GrisMain);
}
#links-cont{
    background-color: #5b5b5b;
}
#Nav-cont{
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: var(--GrisMain);
}
#link{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-top: 8px;
}
/*las clases "link:after", y "link:hover::after" corresponden al efecto
hover que se ve al pasar el cursor sobre los links que estan en el header.*/
#link:after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--NaranjaMain);
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .3s;
    will-change: width;
}
#link:hover::after{
    width: 100%;
    right: 0;
}
#cont-Icons{
    padding-top: 5px;
    background-color: var(--GrisMain);
}
.Icons-Header{
    width: 50px;
    margin: auto;
    color: #fff;
}
.Icons-Header:hover{
    color: var(--NaranjaMain);
}