:root{
    --NaranjaMain:#b15500;
    --NaranjaSecond:#914702;
    --Gris-bg:#1e1e1e;
    --GrisMain: #5b5b5b;
    --WhiteMain:#ffffff;
    --GrisSecond: #c4c4c4;
    --SinColorMain: (255, 255, 255, 0);
}
#Cont-MisVehiculos{
    width:350px;
    height:200px;
    margin: 20px 10px 0px 10px;
    background-color: var(--WhiteMain);
    border-radius: 100px;
}
#Cont-MisVehiculos1{
    position: ritgh;
    width:350px;
    height:200px;
    margin: 20px 10px 0px 10px;
    background-color: var(--WhiteMain);
    border-radius: 100px;
}
#Cont-MisVehiculos2{
    position: left-bottom;
    width:350px;
    height:200px;
    margin: 20px 10px 0px 10px;
    background-color: var(--WhiteMain);
    border-radius: 100px;
}
#Cont-MisVehiculos3{
    position: right-bottom;
    width:350px;
    height:200px;
    margin: 20px 10px 0px 10px;
    background-color: var(--WhiteMain);
    border-radius: 100px;
}

#Boton{
    align-items: center;
    width:200px;
    height:175px;
    color: rgba(255, 255, 255, 0);
    background-color: var(--SinColorMain);
    border-color: var(--SinColorMain);
}
#placa{
    position: relative;
    right: -50px;
    bottom: -100px;
    width: 220px;
    height: 95px;
    text-align: center;
    background-color: yellow;
    border-radius: 10px;
    display: bottom;
    align-items: center; 

}
#Text-Placa{
    padding-top: 5px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}



